accelerate==0.28.0
albumentations==1.4.7
anthropic==0.26.1
arxivloader==1.0.2
autogluon==1.1.0
autogpt==0.0.1.dev0
beautifulsoup4==4.12.3
catboost==1.2.5
contractions==0.1.73
dacite==1.8.1
dataset==1.6.2
deepctr_torch==0.2.9
EasyTSAD==0.2.0.1
google_search_results==2.4.2
gradio==4.31.5
helm==0.4
huggingface_hub==0.22.2
joblib==1.3.2
jsonlines==4.0.0
kaggle==1.6.12
keras==3.3.2
langchain==0.2.1
langchain_community==0.2.1
langchain_text_splitters==0.2.0
lightgbm==4.3.0
matplotlib==3.8.3
# metagpt==0.8.1
mlflow==2.13.0
nbformat==5.10.4
networkx==3.2.1
nltk==3.8.1
num2words==0.5.13
numpy==1.26.4
openai==1.30.2
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
openml==0.14.2
optuna==3.6.1
pandas==2.2.2
peft==0.10.0
Pillow==10.3.0
plotly==4.14.3
python_dateutil==2.9.0.post0
pytorch_tabnet==4.1.0
PyYAML==6.0.1
PyYAML==6.0.1
Requests==2.32.2
scikit_learn==1.4.1.post1
scipy==1.12.0

seaborn==0.11.2
segmentation_models_pytorch==0.3.3
setuptools==69.2.0
shap==0.45.1
simpletransformers==0.70.0
sklego==0.0

statsmodels==0.14.2
submission==0.0.3
tensorflow_datasets==4.9.4
tiktoken==0.6.0
torch==2.3.0
torch_geometric==2.5.3
torchaudio==2.3.0
torchsummary==1.5.1
torchtext==0.18.0
torchvision==0.18.0
tqdm==4.66.2
transformers==4.40.1
trl==0.8.1
tsaug==0.2.1
ucimlrepo==0.0.6
validators==0.28.0
# vllm==0.4.1
wordcloud==1.9.3
xgboost==2.0.3
yellowbrick==1.5
